# Global
.DS_Store
node_modules/
.env
dist/
build/

# Golang (backend)
backend/bin/
backend/vendor/
backend/.env.development
backend/*.log
backend/.idea/
backend/web/

# React (frontend)
frontend/node_modules/
frontend/.env
frontend/dist/
/.idea/.gitignore
/.idea/modules.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/smart-retention.iml
/.idea/vcs.xml
/.idea/
